ATM Simulator/Model/Service References/ServiceReference1/ATMS_Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ATMS_Server" elementFormDefault="qualified" targetNamespace="ATMS_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ATMS_Model" />
  <xs:element name="populateClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="populateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createScenario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createScenarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="playSimulation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="playSimulationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q1:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTrackOnMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q2:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTrackOnMapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q3:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q4:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewPlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q5:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewPlotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewWaypoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q6:Plot" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="oldPlot" nillable="true" type="q7:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewWaypointResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removePlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q8:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removePlotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editPlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q9:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPlotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pauseSimulation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pauseSimulationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyTimeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentServerTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyNewScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="s" nillable="true" type="q10:Scenario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyNewTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q11:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyRemoveTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q12:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyEditedTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q13:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyEditedPlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q14:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyNewPlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q15:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyNewPlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q16:ArrayOfPlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyRemovePlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q17:Plot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyRemovePlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q18:ArrayOfPlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewAutoGeneratedPlots">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="p" nillable="true" type="q19:ArrayOfPlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>