ATM Simulator/Model/Service References/ServiceReference1/ATMS_Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ATMS_Server" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ATMS_Server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ATMS_Server/Imports">
      <xsd:import namespace="ATMS_Server" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ATMS_Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerInterface_populateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:populateClient" />
  </wsdl:message>
  <wsdl:message name="IServerInterface_populateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:populateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IServerInterface_createScenario_InputMessage">
    <wsdl:part name="parameters" element="tns:createScenario" />
  </wsdl:message>
  <wsdl:message name="IServerInterface_createScenario_OutputMessage">
    <wsdl:part name="parameters" element="tns:createScenarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServerInterface_playSimulation_InputMessage">
    <wsdl:part name="parameters" element="tns:playSimulation" />
  </wsdl:message>
  <wsdl:message name="IServerInterface_playSimulation_OutputMessage">
    <wsdl:part name="parameters" element="tns:playSimulationResponse" />
  </wsdl:message>
  <wsdl:message name="IServerInterface_notifyTimeUpdate_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyTimeUpdate" />
  </wsdl:message>
  <wsdl:message name="IServerInterface_notifyNewScenario_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:notifyNewScenario" />
  </wsdl:message>
  <wsdl:portType name="IServerInterface">
    <wsdl:operation name="populateClient">
      <wsdl:input wsaw:Action="ATMS_Server/IServerInterface/populateClient" message="tns:IServerInterface_populateClient_InputMessage" />
      <wsdl:output wsaw:Action="ATMS_Server/IServerInterface/populateClientResponse" message="tns:IServerInterface_populateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createScenario">
      <wsdl:input wsaw:Action="ATMS_Server/IServerInterface/createScenario" message="tns:IServerInterface_createScenario_InputMessage" />
      <wsdl:output wsaw:Action="ATMS_Server/IServerInterface/createScenarioResponse" message="tns:IServerInterface_createScenario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="playSimulation">
      <wsdl:input wsaw:Action="ATMS_Server/IServerInterface/playSimulation" message="tns:IServerInterface_playSimulation_InputMessage" />
      <wsdl:output wsaw:Action="ATMS_Server/IServerInterface/playSimulationResponse" message="tns:IServerInterface_playSimulation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="notifyTimeUpdate">
      <wsdl:output wsaw:Action="ATMS_Server/IServerInterface/notifyTimeUpdate" message="tns:IServerInterface_notifyTimeUpdate_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="notifyNewScenario">
      <wsdl:output wsaw:Action="ATMS_Server/IServerInterface/notifyNewScenario" message="tns:IServerInterface_notifyNewScenario_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>