ATM Simulator/Model/Service References/ServiceReference1/ATMS_Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ATMS_Server" elementFormDefault="qualified" targetNamespace="ATMS_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ATMS_Model" />
  <xs:element name="populateClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="populateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createScenario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createScenarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="playSimulation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="playSimulationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q1:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q2:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="editTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q3:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyTimeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentServerTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyNewScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="data" nillable="true" type="q4:Scenario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyNewTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q5:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyRemoveTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ATMS_Model" minOccurs="0" name="t" nillable="true" type="q6:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>