ATM Simulator/Client/Service References/ServiceReference1/ATMS_Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ATMS_Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATMS_Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Plot">
    <xs:sequence>
      <xs:element name="speed" type="xs:double" />
      <xs:element name="takeOver" type="xs:boolean" />
      <xs:element name="timestamp" nillable="true" type="xs:string" />
      <xs:element name="x" type="xs:double" />
      <xs:element name="y" type="xs:double" />
      <xs:element name="z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plot" nillable="true" type="tns:Plot" />
</xs:schema>